@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: var(--light-color);
  margin: 20px;
}

.btn {
  cursor: pointer;
  padding: 5px 15px;
  background: var(--light-color);
  color: var(--dark-color-a);
  border: 0;
  font-size: 17px;
  border-radius: 4px;
}

#chat-messages {
  padding: 30px;
  max-height: 500px;
  height: 500px;
  overflow-y: scroll;
  background-image: url("../img/chat-bg.jpg");
  background-position: center;
  background-size: contain;
}

@media only screen and (max-width: 600px) {
  #chat-messages {
    height: 400px;
  }
}

#chat-messages .message {
  padding: 10px;
  margin-bottom: 15px;
  background-color: #e0e3f4;
  border-radius: 5px;
}

#active-rooms {
  height: 300px;
  max-height: 300px;
  overflow-y: scroll;
}

@media only screen and (max-width: 600px) {
  #active-rooms {
    height: 250px;
    max-height: 250px;
    overflow-y: scroll;
  }
}

#active-rooms .room {
  padding: 10px;
  margin-bottom: 15px;
  background-color: #e0e3f4;
  border-radius: 5px;
}
